<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DaSCR-Machine Admin</title>
</head>
<body>
    <h1>Welcome to DaSCR - Machine ...</h1>
    <h3>... your very own smart darts machine</h3>
    <div id="machine">
        <h4>Machine config</h4>
        <form action="updateMachine" method="POST">
            <label for="delay">Delay after triggering ultrasonic sensor</label>
            <input id="delay" name="delay" type="number" min="3" max="10" value="{{.Machine.WaitingTime}}" />

            <label for="serial">Serial port of arduino hardware</label>
            <input id="serial" name="serial" type="text" value="{{.Machine.Serial}}" />

            <button type="submit">Save</button>
        </form>
        <div id="machine-error">
            {{if (ne .Machine.Error "") }}
            <p>Error: {{.Machine.Error}}</p>
            {{ end }}
        </div>
    </div>
    <div id="scoreboard">
        <h4>Scoreboard config</h4>
        <form action="updateScoreboard" method="POST">
            <label for="sbprot">Use HTTPS</label>
            {{ if .Scoreboard.HTTPS }}
            <input id="sbprot" name="sbprot" type="checkbox" value="https" checked />
            {{ else }}
            <input id="sbprot" name="sbprot" type="checkbox" value="https" />
            {{ end }}

            <label for="sbhost">Scoreboard host ip</label>
            <input id="sbhost" name="sbhost" type="text" value="{{.Scoreboard.Host}}" />

            <label for="sbport">Scoreboard port</label>
            <input id="sbport" name="sbport" type="number" value="{{.Scoreboard.Port}}" />

            <label for="sbgame">Scoreboard Game ID</label>
            <input id="sbgame" name="sbgame" type="text" value="{{.Scoreboard.Game}}" />

            <label for="sbuser">Scoreboard Basic Auth User</label>
            <input id="sbuser" name="sbuser" type="text" value="{{.Scoreboard.User}}" />

            <label for="sbpass">Scoreboard Basic Auth Password</label>
            <input id="sbpass" name="sbpass" type="password" value="" />

            <button type="submit">Save</button>
        </form>
        <div id="machine-error">
            {{if (ne .Scoreboard.Error "") }}
            <p>Error: {{.Scoreboard.Error}}</p>
            {{ end }}
        </div>
    </div>
    <div id="log">
        <h4>Live log</h4>
        <textarea id="log" cols="120" rows="40" readonly></textarea>
    </div>
    <script>
        document.getElementById("log").scrollTop = document.getElementById("log").scrollHeight
    </script>
</body>
</html>